{% extends "layout/leyout.html.twig" %}

{% block bodyClass %}{% endblock %}
{% block dataJson %}{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();

            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        });
    </script>
{% endblock %}
{% block body %}

    <h2 class="text-center mt-5">{{ 'film.list.titre'|trans }}</h2>
    {% set pourcentageDriveUse = 100 - discSizeFree|pourcentage(discSizeTotal) %}
    {% set goDriveTotal =  discSizeTotal|bytesInGo %}
    {% set goDriveUse =  goDriveTotal - discSizeFree|bytesInGo %}
    {% set progresscClass = pourcentageDriveUse > 75 ? "bg-danger" : "bg-success" %}
    <div class="text-right">{{ 'film.list.drive.total_size'|trans({'%go%': goDriveTotal}) }}</div>
    <div class="progress mb-3">
        <div class="progress-bar {{ progresscClass }}" role="progressbar" style="width: {{ pourcentageDriveUse }}%;" aria-valuenow="{{ pourcentageDriveUse }}" aria-valuemin="0" aria-valuemax="100">{{ goDriveUse}}Go</div>
    </div>

    <table class="table table-striped table-light"  data-order='[[ 3, "desc" ]]'  data-page-length='50' id="table_id">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>ID TMDb</th>
        <th>{{ 'film.list.status.titre'|trans }}</th>
        <th>{{ 'film.list.status.date'|trans }}</th>
        <th>{{ 'film.list.status.th'|trans }}</th>
        <th>{{ 'film.list.status.delete'|trans }}</th>

    </tr>
    </thead>
    <tbody>
    {% for film in films %}
        <tr>
            <td class="align-middle">{{ film.id }}</td>
            <td class="align-middle">{{ film.themoviedb }}</td>
            <td class="align-middle">{{ film.titre }}</td>
            <td class="align-middle">{{ film.createdDatetime|date("m/d/Y") }}</td>
            <td class="align-middle">
                {% if film.error is not null %}

                    {% if film.error == 'link' %}

                        <a class="text-warning" href="#" data-toggle="modal" data-target="#modal-{{ film.id }}">
                            <i class="fas fa-link text-warning"></i>
                        </a>

                        <div class="modal fade" id="modal-{{ film.id }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><i class="fas fa-link"></i> {{ 'film.list.status.error.modal_lien.titre'|trans }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{{ path('filmChangeLink', {'id': film.id}) }}" method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input name="url" type="url" class="form-control" placeholder="{{ 'film.add.form.url'|trans }}" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'film.list.status.error.modal_lien.button_undo'|trans }}</button>
                                            <button type="submit" class="btn btn-primary">{{ 'film.list.status.error.modal_lien.button_submit'|trans }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>




                    {% else %}
                        <a class="text-warning" href="#" data-toggle="popover" title="{{ 'film.list.status.error.popover_title'|trans }}" data-content="{{ film.error }}">
                            <i class="fas fa-exclamation-triangle" title="{{ 'film.list.status.error.label'|trans }}"></i>
                        </a>
                    {% endif %}

                {% elseif film.execution %}

                    <i class="fas fa-cog fa-spin text-secondary"></i>

                {% elseif film.download %}

                    <i class="fas fa-check text-success"></i>


                {% else %}

                    <i class="fas fa-hourglass-start text-muted"></i>

                {% endif %}
            </td>

            <td class="align-middle ">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('filmDelete', {'id': film.id}) }}" class="text-danger" target="_blank"><i class="fas fa-trash-alt"></i></a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <ul class="list-unstyled mt-3">
        <li><i class="fas fa-exclamation-triangle text-warning"></i> {{ 'film.list.legande.error'|trans }}</li>
        <li><i class="fas fa-cog fa-spin text-secondary"></i> {{ 'film.list.legande.dowload'|trans }}</li>
        <li><i class="fas fa-check text-success"></i> {{ 'film.list.legande.valide'|trans }}</li>
        <li><i class="fas fa-hourglass-start text-muted"></i> {{ 'film.list.legande.wating'|trans }}</li>
    </ul>

{% endblock %}